
<li class="separator acl-write"></li>
<li class="acl-write render-icon ep_markdown_editor">
  <a title="Render">
    <span class="buttonicon"></span>
  </a>
</li>

<style>

/*
 * RENDER BUTTON
 */

.ep_markdown_editor
{
  font-family: font-awesome;
}
.ep_markdown_editor .buttonicon:before
{
  content: "\e82c";
}

</style>
